<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="layout/main">
<body>
<div layout:fragment="content">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        + Add New Task
    </button>
    <br>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">New Task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{'/addtask'}" method="post" class="d-flex" role="search">
                    <div class="modal-body">
                        <input class="form-control me-2 email" type="text" placeholder="Name" aria-label="Search"
                               name="name">
                        <br>
                        <textarea class="form-control" placeholder="Description" id="floatingTextarea2"
                                  style="height: 100px" name="description"></textarea>
                        <br>
                        <input class="form-control me-2 email" type="date" placeholder="" aria-label="Search"
                               name="deadlineDate">
                        <br>
                        <button onclick="reg()" class="btn btn-outline-success moibtn" type="submit">ADD TASK</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">DEADLINE DATE</th>
                <th scope="col">IS COMPLETED</th>
                <th scope="col">DETAILS</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <th scope="row" th:text="${task.id}"></th>
                <td th:text="${task.name}"></td>
                <td th:text="${task.deadlineDate}"></td>
                <td th:text="${task.isCompleted ? 'YES' : 'NO'}"></td>
                <td>
                    <a th:href="@{'/details/' + ${task.id}}" class="btn btn-primary" role="button" aria-disabled="true">DETAILS</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>